<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Programacion 3 SC 06</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    
    <div class="container-fluid body-content m-0 p-0">
        @RenderBody()

        @if (ViewBag.OcultarFooter == null || ViewBag.OcultarFooter == false)
        {
            <hr />
            <footer class="bg-dark text-light text-center py-4 mt-5">
                <div class="container">
                    <p class="mb-2">&copy; @DateTime.Now.Year - Programación 3 SC 06</p>
                    
                </div>
            </footer>

        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
